# Rust (/server, /pabianice-os/server, /client/desktop)
server/target/
pabianice-os/server/target/
client/desktop/target/
**/*.rs.bk

# ESP-IDF (/firmware)
firmware/build/
firmware/sdkconfig
firmware/sdkconfig.old
firmware/managed_components/
firmware/dependencies.lock

# sekrety lokalne
.env
*.env.local

# byle jakie smieci edytorów/OS
.DS_Store
*.swp
